h2 {
    font-size: 1.8em !important;
    font-weight: bold !important;
}

h3 {
    font-size: 1.4em !important;
    font-weight: bold !important;
}
.botglow{
    box-shadow: 0 5px 6px rgb(21, 21, 59);
}


.active h3 {
    border-bottom: 2px solid #0ea5e9; 
    padding-bottom: 5px;
    color: #0ea5e9;
  }


h4 {
    color: hsl(0, 0%, 28%);
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  h4 span {
    transition: 0.5s ease-out;
  }
  h4:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h4:hover span:nth-child(1):after {
    content: "";
  }
  h4:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h4:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }