* {
    color: rgb(218, 213, 213);
}

.mybtn{
    filter: drop-shadow(0px 1px 6px #4f4fec);
}

a {
    text-decoration: none;
}

.mypic {  
    filter: drop-shadow(0px 1px 20px rgb(0, 107, 177));
    animation-name: floating;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      filter: drop-shadow(0px 1px 20px rgb(4, 124, 203));

    }
    100% {
      transform: translateY(0);
    }
  }

  @media only screen and (max-width:768px) {

    .mypic {  
      filter: drop-shadow(0px 1px 20px rgb(0, 107, 177));
      animation-name: floating;
      animation-duration: 3.8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-top: 100px;
  }
    
  }